.layout960px
  .cabecalho
    .menu
      ul
        li
          .submenu
            display: none

        li:hover
          .submenu
            display: block

  .todas-ofertas
    .oferta
      .informacao
        .nome-produto
          p
            font-size: 20px !important

  .formulario-upload
    .formulario
      .campo-upload
        background: rgb(254, 192, 189) !important
