/*! reset.*/
@import 'reset.scss';

/*! Estilos gerais */

@font-face{
  font-family:ProximaRegular;
  font-style:normal;
  font-weight:normal;
  src:url('../fonts/ProximaNova-Regular.otf');
}

@font-face{
  font-family:ProximaLight;
  font-style:normal;
  font-weight:normal;
  src:url('../fonts/ProximaNova-Light.otf');
}

//*{ outline:1px solid rgb(0,0,0); }

#website{
  width:960px;
  font-family:ProximaRegular,Arial,sans-serif;
  text-transform:uppercase;
  margin:0 auto;

  .cabecalho{
    width:960px; height:150px;
    float:left;

    .logotipo{
      width:350px; height:200px;
      float:left;

      a{
        border:0;
        outline:0;
        img{
          margin:40px 0 0 40px;
          position:absolute;
        }
      }
    } // # Logotipo

    .menu{
      width:610px;
      float:left;
      text-align:center;
      margin:35px 0 0 0;

      ul{
        li{
          padding:20px 15px 0 15px;
          border-radius:5px 5px 0 0;
          display:inline-block;
          -webkit-transition:all 0.3s linear;
          transition:all 0.3s linear;

          a{
            font-size:18px;
            font-weight:bold;
            text-decoration:none;
            color:rgb(128,128,128);
            -webkit-transition:all 0.3s linear;
            transition:all 0.3s linear;
          }


          ul{
            display:none;
            position:absolute;
            background:rgb(240,240,240);
            padding:20px 15px 5px 15px;
            border-radius:0 0 5px 5px;
            margin:0 0 0 -15px;

            li{
              margin:0 0 10px 0;
              padding:0;
              display:block;
              text-align:left;

              a{
                text-shadow:0px 1px 0 rgb(255,255,255);
                font-size:14px;
                color:rgb(180,180,180);
              }
            }
          }
        }

        li:hover{
          background:rgb(240,240,240);

          a{ color:rgb(80,80,80); }
        }
      }
    } // # Menu
  } // # Cabeçalho

  .slides{
    width:960px; height:400px;
    background:rgb(227,227,227);
    float:left;
  } // # Slides

  .ofertas{
    width:880px;
    float:left;
    box-shadow:0 -10px 20px rgb(230,230,230);
    margin:0 0 0 20px;
    padding:30px 20px 0 20px;

    .cabecalho-secao{
      font-size:25px;
      font-weight:bold;
      color:rgb(27,27,27);
      margin:0 0 30px 0;
    }

    .oferta{
      width:220px; height:150px;
      float:left;
      border-bottom:2px solid rgb(245,245,245);

      .imagem-produto{
        width:220px; height:150px;
        overflow:hidden;
        position:absolute;
        z-index:-1;

        img{ padding:0 20px; }
      }

      .informacao{
        width:110px; height:120px;
        padding:15px;
        margin:0 0 0 80px;
        background:rgba(245,245,245,0.9);
        
        .nome-produto{
          height:65px;
          overflow:hidden;

          p{ font:20px ProximaLight,Arial,sans-serif; }
        }

        .preco{
          margin:20px 0 0 0;

          p{
            font:bold 40px ProximaLight,Arial,sans-serif;
            color:rgb(207,0,0);

            span{ font-size:20px; }
          }
        }
      } // # Informação
    } // # Oferta
  } // # Ofertas

  .multimidia{
    width:880px; height:300px;
    float:left;
    margin:0 0 0 20px;
    padding:20px;

    .jornal{
      width:600px; height:300px;
      float:left;
      margin:0 20px 0 0;
      background:rgb(204,204,204);
    }

    .videos{
      width:260px;
      height:300px;
      float:left;

      .cabecalho-secao{
        height:60px;
        margin:0 0 20px 0;
        background:rgb(240,240,240);

        h2{
          font-weight:bold;
          font-size:26px;
          color:rgb(50,71,122);
          padding:20px;
        }
      }

      .player{
        height:220px;
        background:rgb(240,240,240);
      }
    } // # Vídeos
  } // # Multimídia
} // # Website